/.idea/
/build/
/.vscode/
/.gitignore
/*.exe
/.cache
*.bak
*.ddk
*.edk
*.lst
*.lnp
*.mpf
*.mpj
*.obj
*.omf
*.plg
*.rpt
*.tmp
*.__i
*.crf
*.o
*.d
*.axf
*.tra
*.dep
JLinkLog.txt
JLinkSetting.ini
*.iex
*.htm
*.sct
*.map
*.uvguix.*



build/
.idea
.vscode
cmake*
!*/CMakeLists.txt
!CMakeLists.txt
/managed_components/




